---
import vid01 from "../pages/arctic/llume-arctic-hero-2-1280x720-220kbps.mp4";

const { class: containerClass, innerClass, client, heading, subheading } = Astro.props;
const fontScale = 0.3;
---

<a href="#" class=`${containerClass} relative  h-full text-[clamp(0.5rem, 3vw, 2rem)]`>
  <div class="relative z-10 h-full flex flex-col items-start gap-4 overflow-hidden">
    <video class="absolute h-full w-full mt-auto mb-auto object-cover" src={vid01} autoplay></video>
    <div class=`${innerClass} relative h-full w-3s/5 z-10 p-4 flex flex-col items-start gap-4 overflow-hidden`>
      <p class="">{client}</p>
      <p class="text-[1.75em]">{heading}</p>
      <p class="">
        {subheading}
      </p>
      <button class="mt-auto border-2 border-pink-600 py-2 px-8 rounded-full text-pink-700">Go to project</button>
    </div>
  </div>
</a>
<style></style>
