---
import { Image, type LocalImageProps } from "astro:assets";

interface Props {
  videoSrc?: string;
  imageSrc?: LocalImageProps["src"];
  youtubeSrc?: string;
  aspect?: "square" | "video";
  caption?: string;
  controls?: boolean;
}

const { videoSrc, imageSrc, youtubeSrc, aspect, caption, controls = false } = Astro.props;

const bgStyle = "bg-gradient-to-tr from-purple-100 to-yellow-100";

const aspectSquare = aspect === "square" && "lg:aspect-square";
---

<div>
  <figure class=`mb w-full flex flex-col justify-center align-middle p-2 rounded-xl ${aspectSquare} ${bgStyle}`>
    <div class="overflow-hidden rounded-lg self-center shadow-md w-full bg-black">
      {
        videoSrc && (
          <video autoplay loop muted class="w-full" controls={controls}>
            <source src={videoSrc} type="video/mp4" />
          </video>
        )
      }
      {imageSrc && <Image src={imageSrc} alt={caption ? (caption as string) : "Project image"} />}
      {
        youtubeSrc && (
          <iframe
            class="aspect-video"
            width="100%"
            src={youtubeSrc}
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          />
        )
      }
      <slot />
    </div>
  </figure>
  {caption && <figcaption class="text-gray-500 text-sm">{caption}</figcaption>}
</div>
